# For Lefthook
side-effects-cache = false

# Performance
prefer-workspace-packages = true
link-workspace-packages = true
save-workspace-protocol = true

# Security
audit-level = moderate

# Build Efficiency
enable-pre-post-scripts = true

# Dependency Management
strict-peer-dependencies = false
auto-install-peers = true

# CI Environment Settings
frozen-lockfile = false

# Development Environment Settings
shamefully-hoist = false
